# This file, in conjuction with your .env file,
# should be used to configure the apollos server.

# Any values you wish to keep secret should be placed in `.env`
# You can access those values (and any other values in your environment)
# using the ${VARIABLE_NAME} syntax

# This file should be checked into version control.
# `.env` should NOT be checked into version control.
APP:
  # This variable is used for generating deep links.
  # It should match whatver is in your Info.plist `CFBundleURLTypes`
  DEEP_LINK_HOST: ChristFellowship
  ROOT_API_URL: ${ROOT_URL}
  JOBS_USERNAME: ${JOBS_USERNAME}
  JOBS_PASSWORD: ${JOBS_PASSWORD}
BUGSNAG:
  ## Optional, but you'll need to remove references to @apollosproject/bugsnag if you don't wish to use.
  API_KEY: ${BUGSNAG_KEY}
ROCK:
  API_URL: ${ROCK_API}/api
  API_TOKEN: ${ROCK_TOKEN}
  IMAGE_URL: ${CLOUDFRONT}/GetImage.ashx
  FILE_URL: ${CLOUDFRONT}/GetFile.ashx
  SHARE_URL: https://christfellowship.church
  # This should match the timezone of the Rock server
  # TIMEZONE: "Etc/GMT+5"
  TIMEZONE: 'America/New_York'
  DEEP_LINK_HOST:
  ROOT_API_URL: ${ROOT_URL}
  USE_PLUGIN: true
  SHOW_INACTIVE_CONTENT: ${ROCK_SHOW_INACTIVE_CONTENT}
  APOLLOS_SECRET: ${APOLLOS_SECRET}
ONE_SIGNAL:
  APP_ID: 7ab9baa8-8f28-41b9-b258-37662276aea4
  REST_KEY: ${ONE_SIGNAL_REST_KEY}
CHURCH_ONLINE:
  URL: https://live.gochristfellowship.com/api/v1/
  # MEDIA_URLS: [https://christfellow2-lh.akamaihd.net/i/christfellow_1@144364/master.m3u8]
  MEDIA_URLS:
    [
      http://link.theplatform.com/s/IfSiAC/bD1fN9vCet4B?mbr=true@144364/master.m3u8,
    ]
  WEB_VIEW_URL: https://live.gochristfellowship.com/
ALGOLIA:
  APPLICATION_ID: ${ALGOLIA_APP_ID}
  API_KEY: ${ALGOLIA_API_KEY}
  # TODO: should we support multiple indices? how?
  SEARCH_INDEX: ${CONTENT}_${ALGOLIA_SEARCH_INDEX}
  CONFIGURATION:
    searchableAttributes:
      - title
      - htmlContent
      - unordered(summary)

# Stream Chat https://getstream.io
STREAM:
  CHAT_SECRET: ${STREAM_CHAT_SECRET}
  CHAT_API_KEY: ${STREAM_CHAT_API_KEY}
  CHAT_APP_ID: ${STREAM_CHAT_APP_ID}

TWILIO:
  NOTIFY_SID: ${TWILIO_NOTIFY_SID}
  ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
  AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
  FROM_NUMBER: ${TWILIO_FROM_NUMBER}

PASS:
  TEMPLATES:
    CHECKIN: ${PWD}/wallet-passes/checkin.pass
  CERTIFICATES:
    WWDR: ${PASS_WWDR_CERT}
    SIGNER_CERT: ${PASS_SIGNER_CERT}
    SIGNER_KEY: ${PASS_SIGNER_KEY}
    SIGNER_KEY_PASSPHRASE: ${PASS_SIGNER_PASSPHRASE}
ANALYTICS:
  # Filling out these fields will automatically enable analytics tracking
  # on the accompanying service
  SEGMENT_KEY:
  GA_ID:
  USE_ROCK: true
BIBLE_API:
  KEY: ${BIBLE_API_KEY}
  BIBLE_ID:
    WEB: '9879dbb7cfe39e4d-01'
    KJV: 'de4e12af7f28f599-02'
CLOUDINARY:
  # Cloudinary is used to improve image loading
  # value should look something like
  # cloudinary://123123123:adkfnla_adASDv_adAS@test
  URL: ${CLOUDINARY_URL}
ENGINE:
  API_KEY: ${ENGINE_API_KEY}
  SCHEMA_TAG: ${ENGINE_SCHEMA_TAG}

# This key holds various properties that allow our GraphQL server to map to your Rock Instance
ROCK_MAPPINGS:
  INTERACTIONS:
    # Name of the InteractionChannel that will be created
    CHANNEL_NAME: Apollos App
    # Name of the InteractionComponent that will be created for Content Items
    COMPONENT_NAME: Apollos Content Item
    # 512 is "Mobile App"
    CHANNEL_MEDIUM_TYPE_ID: 3706

  CONTENT_ITEM:
    ContentSeriesContentItem:
      # When resolving "ContentSeriesContentItem" look in rock for a "ContentChannelItem"
      EntityType: ContentChannelItem
      # Used to define the subset of content channels types that use this specific type.
    DevotionalContentItem:
      EntityType: ContentChannelItem
    MediaContentItem:
      EntityType: ContentChannelItem
    UniversalContentItem:
      EntityType: ContentChannelItem
    WeekendContentItem:
      EntityType: ContentChannelItem
    ContentItem:
      EntityType: ContentChannelItem
    InformationalContentItem:
      EntityType: ContentChannelItem
      ContentChannelId: [45, 76]
    EventContentItem:
      EntityType: ContentChannelItem
      ContentChannelTypeId: [23]
    WebsitePagesContentItem:
      EntityType: ContentChannelItem
      ContentChannelTypeId: [14]
    WebsiteBlockItem:
      EntityType: ContentChannelItem
      ContentChannelTypeId: [15]
    WebsiteHtmlBlockItem:
      EntityType: ContentChannelItem
      ContentChannelTypeId: [26]
    WebsiteGroupItem:
      EntityType: ContentChannelItem
      ContentChannelTypeId: [20]
    WebsiteFeature:
      EntityType: ContentChannelItem
      ContentChannelTypeId: [21]

  DATAVIEW_CATEGORIES:
    # Id of the category used to store all persona dataviews
    PersonaId: 537

  # Apollos will pull these content channels and expose them in the app on the discover screen.
  DISCOVER_CONTENT_CHANNEL_IDS:
    - 42

  # Apollos will pull these content channels and expose them as events.
  EVENTS_CONTENT_CHANNEL_IDS:
    - 47

  # Apollos will pull content items from these channels and expose them on the user feed
  # However, it will not expose the channel itself.
  FEED_CONTENT_CHANNEL_IDS:
    - 43 # Article and Blogs
    - 45 # Informational Items
    - 60 # Resources
    - 63 # Sermons

  CAMPUS_FAQ_CONTENT_CHANNEL_IDS:
    - 61

  # Apollos will pull content items from these channels
  # This will NOT add these Content Channels to the app.
  #   See DISCOVER_CONTENT_CHANNEL_IDS and FEED_CONTENT_CHANNEL_IDS for App
  BROWSE_CONTENT_CHANNEL_IDS:
    - 43 # Article and Blogs
    - 60 # Resources
    - 63 # Sermons

  # Apollos will pull content items as categories from these channels
  # This will NOT add these Content Channels to the app.
  #   See DISCOVER_CONTENT_CHANNEL_IDS and FEED_CONTENT_CHANNEL_IDS for App
  CATEGORY_CONTENT_CHANNEL_IDS:
    - 44

  # Apollos will pull content items from these channels and expose them on a website
  # However, it will not expose the channel itself.
  WEBSITE_CONTENT_CHANNEL_IDS:
    # Content Channels that contain pages for the External Marketing website
    EXTERNAL_MARKETING:
      - 54

  CAMPAIGN_CHANNEL_IDS:
    - 11

  ANNOUNCEMENTS_CHANNEL_ID: 50
  SERMON_CHANNEL_ID: 63

  # List of Id's associated with important/commonly used Defined Types
  # (primarily used by the Defined Value List data type)
  DEFINED_TYPES:
    ETHNICITY: 277
    STATES: 28
    NOTIFICATION_CENTER: 355

  # List of attribute keys for Profile information
  # when migrating from Arena to Rock, the Arena keys were kept
  # this configuration helps eliminate the need to remember specific Arena keys
  PERSON_ATTRIBUTES:
    SALVATION_DATE: 'Arena-15-139'
    BAPTISM_DATE: 'BaptismDate'
    ETHNICITY: 'Ethnicity'
  CONNECTION_STATUS:
    FIRST_CONNECTION:
      KEY: 'Arena-15-135'
    ORIGINAL_ENTRY:
      KEY: 'Arena-15-64'
      VALUE: '65c8d8f1-491a-4335-bbdc-845ebc2887ab'

  LOCATION_TYPES:
    HOME_ADDRESS: 19

  WORKFLOW_IDS:
    RSVP: 232
    EMAIL_CAPTURE: 236
    PASSWORD_RESET_EMAIL: 327
    ADDRESS_UPDATE: 328
    CHECK_IN: 411

  GROUP_TYPE_IDS:
    DREAM_TEAM: 37

  ADULT_GROUP_TYPE_ID: 31
  CFE_JOURNEY_EXPERIENCE_GROUP_TYPE_ID: 124
  FREEDOM_GROUP_TYPE_ID: 92
  GET_STRONGER_GROUP_TYPE_ID: 101
  HUB_MARRIAGE_STUDIES_GROUP_TYPE_ID: 90
  HUB_STUDIES_GROUP_TYPE_ID: 85
  MARRIAGE_STUDIES_GROUP_TYPE_ID: 89
  STUDENTS_GROUP_TYPE_ID: 76
  STUDIES_GROUP_TYPE_ID: 86
  TABLE_GET_STRONGER_GROUP_TYPE_ID: 121
  TABLE_STUDIES_GROUP_TYPE_ID: 94
  YOUNG_ADULTS_GROUP_TYPE_ID: 73

  DEFAULT_CAMPUS_ID: 9
  HOME_FEATURES_CHANNEL_ID: 64
  GENERAL_PRAYER_CATEGORY_ID: 580

HOME_FEATURES:
  - title: Dynamic Rock Feed
    algorithms:
      - type: ROCK_DYNAMIC_FEED
        arguments:
          contentChannelId: 64

FEATURE_FEEDS:
  CONNECT_TAB:
    - type: AvatarList
      algorithms: [CURRENT_USER]
      isCard: false
      primaryAction:
        action: OPEN_URL
        icon: 'settings'
        relatedNode:
          __typename: Url
          url: 'christfellowship://c/EditCurrentUser'
    - type: ActionBar
      actions:
        - action: OPEN_URL
          title: 'Groups'
          icon: 'users'
          theme:
            colors:
              primary: '#00aeef'
          relatedNode:
            __typename: Url
            url: 'https://rock.gocf.org/groups'
        - action: OPEN_URL
          title: 'Serve'
          icon: 'handshake'
          theme:
            colors:
              primary: '#d52158'
          relatedNode:
            __typename: Url
            url: 'https://rock.christfellowship.church/dreamteam'
        - action: OPEN_URL
          title: 'Give Now'
          icon: 'envelope-open-dollar'
          theme:
            colors:
              primary: '#1ec27f'
          relatedNode:
            __typename: Url
            url: 'https://pushpay.com/g/christfellowship'
    - type: HorizontalCardList
      algorithms: [MY_GROUPS]
      title: 'My Groups'
      flagKey: GROUPS
    - type: HorizontalCardList
      algorithms: [MY_VOLUNTEER_GROUPS]
      title: 'My Dream Teams'
      flagKey: VOLUNTEER_GROUPS
    - type: HorizontalCardList
      algorithms: [MY_PRAYERS]
      title: 'My Prayers'
      primaryAction:
        action: OPEN_URL
        title: 'See all'
        relatedNode:
          __typename: Url
          url: 'christfellowship://c/MyPrayerRequestsFeed'
  EVENTS_TAB:
    - type: VerticalCardList
      algorithms: [ALL_EVENTS]
  GIVE_TAB:
    - type: HeroList
      algorithms:
        - type: CONTENT_CHANNEL
          arguments:
            contentChannelId: 76
    - type: ActionBar
      actions:
        - action: OPEN_URL
          title: 'Give Now'
          icon: 'envelope-open-dollar'
          theme:
            colors:
              primary: '#1ec27f'
          relatedNode:
            __typename: Url
            url: 'https://pushpay.com/g/christfellowship'
  HOME_HEADER:
    - algorithms: [ALL_LIVE_CONTENT]
      type: LiveContentList
      title: Live Now
    - algorithms: [DAILY_PRAYER]
      isCard: false
      type: PrayerList
      title: Daily Prayer


FEATURE_FLAGS:
  LIVE_STREAM_UI:
    securityGroupId: 1014843
    status: 'LIVE'
  LIVE_STREAM_CHAT:
    securityGroupId: 1014843
    status: 'LIVE'
  NOTIFICATION_CENTER:
    securityGroupId: 1014843 # CFDP Experimental Features
    status: 'LIVE'
  GROUPS:
    status: 'LIVE'
  VOLUNTEER_GROUPS:
    securityGroupId: 1014843 # CFDP Experimental Features
    status: 'LIVE'
  ROCK_DYNAMIC_FEED_WITH_PERSONAS:
    status: 'LIVE'
  CHECK_IN:
    status: 'LIVE'
  HOME_HEADER:
    # TODO : add this back when done testing
    # securityGroupId: 1014843
    status: 'LIVE'

PAGE_BUILDER:
  locations:
    contentChannelId: 72
    buildingBlocks:
      - type: MetadataFeature
        algorithms:
          - type: CAMPUS_META
            arguments:
              attributeKey: metadata
      - type: ContentBlockFeature
        display: BACKGROUND_IMAGE
        fields: [title, image]
      - type: ContentBlockFeature
        fields: [content]
      - type: CampusContentFeature
        attributeKey: campus
      - type: ContentGridFeature
        primaryAction:
          title: Learn More
          action: VIEW_MORE
        algorithms:
          - type: MATRIX_ITEMS
            arguments:
              attributeKey: contentBlocks

NOTIFICATIONS:
  PRAYING: 'Your church family is praying for you right now. Thanks for sharing your request with us!'

# Default mapping of field types -> ids. There's probably no reason to edit this.
ROCK_CONSTANTS:
  TEXT: 1
  MULTI_SELECT: 2
  BOOLEAN: 3
  COLOR: 4
  SINGLE_SELECT: 6
  INTEGER: 7
  PAGE_REFERENCE: 8
  IMAGE: 10
  DATE: 11
  DECIMAL: 14
  DEFINED_TYPE: 15
  DEFINED_VALUE: 16
  PERSON: 18
  HTML: 20
  MEMO: 21
  GROUP_TYPES: 22
  GROUP: 23
  CAMPUSES: 26
  ENTITY_TYPE: 29
  CAMPUS: 30
  EMAIL_TEMPLATE: 31
  FILE: 32
  GROUP_TYPE: 33
  KEY_VALUE_LIST: 34
  BINARY_FILE_TYPE: 35
  WORKFLOW_TYPE: 36
  BINARY_FILE: 37
  FINANCIAL_ACCOUNT: 38
  FINANCIAL_ACCOUNTS: 39
  COMPONENT: 40
  COMPONENTS: 41
  CATEGORIES: 42
  GROUP_ROLE: 43
  CATEGORY: 44
  LOCATION: 45
  DATE_RANGE: 46
  DECIMAL_RANGE: 47
  INTEGER_RANGE: 48
  TIME: 49
  GROUP_LOCATION_TYPE: 50
  CODE_EDITOR: 51
  PERSON_BADGES: 52
  SITE: 53
  COMMUNICATION_TEMPLATE: 54
  DAY_OF_WEEK: 55
  DAYS_OF_WEEK: 56
  REMOTE_AUTHS: 57
  COMPARISON: 58
  METRIC_ENTITY: 59
  WORKFLOW_ACTIVITY: 60
  WORKFLOW_ATTRIBUTE: 61
  METRICS: 62
  ENTITY: 63
  METRIC_CATEGORIES: 64
  WORKFLOW_TEXT_OR_ATTRIBUTE: 65
  SLIDING_DATE_RANGE: 66
  GROUP_TYPE_GROUP: 67
  SECURITY_ROLE: 68
  VALUE_LIST: 69
  CURRENCY: 70
  EMAIL: 71
  URL_LINK: 72
  WORKFLOW_TYPES: 73
  ATTRIBUTE: 74
  SCHEDULES: 75
  CONTENT_CHANNEL: 76
  AUDIO_FILE: 77
  AUDIO_URL: 78
  VIDEO_FILE: 79
  VIDEO_URL: 80
  ENCRYPTED_TEXT: 81
  FILTER_DATE: 82
  DATE_TIME: 83
  DEFINED_VALUE_RANGE: 84
  RATING: 85
  SYSTEM_EMAIL: 86
  FINANCIAL_GATEWAY: 87
  GROUP_AND_ROLE: 88
  NOTE_TYPE: 89
  NOTE_TYPES: 90
  EVENT_CALENDAR: 91
  EVENT_ITEM: 92
  CONNECTION_ACTIVITY_TYPE: 93
  CONNECTION_OPPORTUNITY: 94
  CONNECTION_REQUEST: 95
  CONNECTION_STATE: 96
  CONNECTION_STATUS: 97
  CONNECTION_TYPE: 98
  CONNECTION_TYPES: 99
  MERGE_TEMPLATE: 100
  RANGE_SLIDER: 101
  BINARY_FILE_TYPES: 102
  MARKDOWN: 103
  DATA_VIEW: 104
  PHONE_NUMBER: 105
  SCHEDULE: 106
  LAVA_COMMANDS: 107
  ADDRESS: 108
  BENEVOLENCE_REQUEST: 109
  CONTENT_CHANNEL_TYPES: 110
  WORKFLOW: 111
  SSN: 112
  MATRIX: 113
  LAVA: 114
  DATA_VIEWS: 115
  COMMUNICATION_PREFERENCE: 116
  INTERACTION_CHANNEL: 117
  GROUP_MEMBER: 118
  TIME_ZONE: 119
  LABEL: 120
